.title {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 60px;
    padding: 20px;
}

.content {
    padding: 20px;
    background-color: #000;
    color: #FFF;
    font-family: 'Satisfy', cursive;
    font-size: 18px;
    height: 90px;
}

.video {
    border: 10px solid #000;
    display: block;
    margin: 30px auto;
}

.brands {
    margin: 50px 0;
}

body {
    border: 13px solid #d8bf79;
}
